* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    color: #333;
}

#todo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

#text1, #text2 {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    transition: transform 0.3s ease;
}

#text1:hover, #text2:hover {
    transform: scale(1.05);
}

#contenidoTXT {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
    font-weight: bold;
    font-size: 1.1rem;
    color: #2c3e50;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input[type="file"], select, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

input[type="file"]:hover, select:hover, input[type="text"]:hover {
    border-color: #2980b9;
}

button {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    display: block;
    width: 100%;
}

button:hover {
    background-color: #1c6390;
}

pre {
    font-family: 'Courier New', Courier, monospace;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 1rem;
}

select:hover {
    border-color: #2980b9;
}

#buscarFields, #palindromoFields {
    margin-top: 20px;
}